.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: fade-in var(--transition-on) ease-in 0s 1;

  &.leave {
    transition: var(--transition-on);
    opacity: 0;
  }

  &__wrapper {
    width: 100%;
    padding-top: 7.5rem;
    padding-bottom: 5.5rem;
    overflow-y: auto;

    @media (max-width: 453px) {
      padding: 0;
    }
  }

  &__content {
    background-color: var(--color-white);
    border-radius: 30px;
    padding: 2rem;
    width: 552px;
    margin: 0 auto;
    overflow-y: auto;
    animation: appear var(--transition-on) ease-in 0s 1;
    position: relative;

    @media (max-width: 768px) {
      width: 453px;
    }
    @media (max-width: 453px) {
      width: 100%;
      border-radius: 0;
      height: 100%;
      padding: 1rem;
    }

    &.leave {
      transition: var(--transition-on);
      transform: scale(0);
    }

    &_inner {
      width: 100%;
      margin: auto;
    }

    &_close-icon {
      position: absolute;
      top: 1.4rem;
      right: 1.4rem;
      font-size: 1.6875rem;
      color: var(--color-details);
      cursor: pointer;

      @media (max-width: 320px) {
        font-size: 1.2rem;
        top: 1rem;
        right: 1rem;
      }
    }
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
