.option-selector {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;

  &__text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-right: 2rem;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__option {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
